body {
  background-color: #F0F5F9;
  font-family: 'Open-Sans', sans-serif;
  font-weight: lighter;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  letter-spacing: 2px;
  font-size: 23px;
  font-weight: lighter;
  color: #607D8B;
}

h2 {
  font-size: 18px
}

h3 {
  font-size: 15px
}

a {
  text-decoration: none;
  color: #52616B;
}

a:hover {
  color: #C9D6DF;
}

ul {
  list-style: none;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.content {
  order: 2;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.section-white {
  background-color: white;
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px lightgray;
}

.text-center {
  text-align: center;
}

.list-inline li {
  display: inline;
  padding: 0 20px;
}

.list-inline {
  padding-left: 0;
}

.social-icons {
  width: 40;
  height: 40;
}

#sidebar {
  order: 1;
  background-color: #C9D6DF;
  width: 115px;
  padding-top: 20px;
}

#sidebar ul {
  padding-left: 0;
}

#sidebar li {
  padding: 20px 0;
}

#page-content {
  margin-left: 115px;
}

#places img {
  width: 350;
}

#profile-pic {
  width: 25%;
  border-radius: 50%;
}

#info {
  padding: 50px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
